@model HospitalProject.Models.ViewModels.DetailsPatient
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div id="containershow">
    <nav>
        <!-- Back to patient list -->
        <a href="/patient/list" class="btn btn-dblue btn-lg" role="button">
            <span class="glyphicon glyphicon-backward"></span> Back to
            <br />the Patient List
        </a>
        <!-- Update patient button -->
        <a href="/patient/edit/@Model.SelectedPatient.PatientID" class="btn btn-dblue btn-lg" role="button">
            <br />Update
            <span class="glyphicon glyphicon-floppy-saved"></span>
        </a>
        <!-- Delete patient button -->
        <a style="color:#ab2020;" href="/patient/deleteconfirm/@Model.SelectedPatient.PatientID" class="btn btn-dblue btn-lg" role="button">
            <br />Delete
            <span class="glyphicon glyphicon-floppy-remove"></span>
        </a>
    </nav>

    <h2>Patient Details: @Model.SelectedPatient.PatientFName @Model.SelectedPatient.PatientLName</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Gender</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Phone</th>
                <th scope="col">Appointment No</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@Model.SelectedPatient.PatientID</th>
                <td>@Model.SelectedPatient.PatientGender</td>
                <td>@Model.SelectedPatient.DOB.ToLongDateString()</td>
                <td>@Model.SelectedPatient.PatientPhone</td>
                <td>@Model.SelectedPatient.AppointmentNo</td>
            </tr>
        </tbody>
    </table>
</div>

