@model HospitalProject.Models.PatientDto

@{
    ViewBag.Title = "Edit";
}

<h2>Update Patient</h2>

<div>
    <a href="/Patient/List" class="btn btn-dblue btn-lg" role="button">
        <span class="glyphicon glyphicon-backward"></span> Back to
        <br />the Patient List
    </a>
</div>

<form method="POST" action="/Patient/Update/@Model.PatientID" enctype="multipart/form-data" class="editForm">
    <div style="display:none;">
        <label>Patient ID:</label>
        @* Pass through the patient ID *@
        <input type="text" name="PatientID" value="@Model.PatientID" />
    </div>
    <div class="form-group">
        <label>First Name:</label>
        <input type="text" name="PatientFName" value="@Model.PatientFName" />
    </div>
    <div class="form-group">
        <label>Last Name:</label>
        <input type="text" name="PatientLName" value="@Model.PatientLName" />
    </div>
    <div class="form-group">
        <label>Gender:</label>
        <input type="text" name="PatientGender" value="@Model.PatientGender" />
    </div>
    <div class="form-group">
        <label>Date of birth:</label>
        <input type="text" name="DOB" value="@Model.DOB.ToShortDateString()" />
    </div>
    <div class="form-group">
        <label>Appointment Number:</label>
        <input type="text" name="AppointmentNo" value="@Model.AppointmentNo" />
    </div>
    <div class="form-group">
        <label>Phone</label>
        <input type="tel" name="PatientPhone" value="@Model.PatientPhone" />
    </div>
 
    <button type="submit" class="btn btn-primary" value="Update Patient">Update Patient</button>
</form>
