@model HospitalProject.Models.DoctorDetailDto
@{
    ViewBag.Title = "Details";
}
<div class="heading-container">
    <h2>Details of a Doctor</h2>
    @{
        if (User.IsInRole("Admin"))
        {
            <div class="heading-container">
                <h4 class="mr-sm"><a href="/doctorDetail/Update/@Model.DrId" class="btn btn-primary">Update Details</a></h4>
                <h4><a href="/doctorDetail/DeleteConfirmation/@Model.DrId" class="btn btn-danger">Delete Doctor</a></h4>
            </div>
        }
    }

</div>


<h3>Dr Full Name  : <i>@Model.DrFname @Model.DrLname</i></h3>
<p>Dr Email: <i>@Model.DrEmail</i></p>
<p>Dr Studies : <i>@Model.DrStudies</i></p>
<p>Dr Position : <i>@Model.DrPosition</i></p>
<p>Dr Bio : <i>@Model.DrBio</i></p>
<h3>Department : <i>@Model.DepartmentName</i></h3>